<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuncham.cont.srimahimaclinic">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Logins">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".PreliminaryLogin"
            android:label="Preliminary Login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".DoctorsLogin"
            android:label="Docter's Login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".PharmacyLogin"
            android:label="Pharmacy Login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity android:name=".PreliminaryData"
            android:label="Preliminary Data"
            android:parentActivityName=".PreliminaryLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PreliminaryLogin" />
        </activity>

        <activity android:name=".PreliminaryAccount"
            android:label="Preliminary Account"
            android:parentActivityName=".PreliminaryLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PreliminaryLogin" />
        </activity>

        <activity android:name=".ForgetPassword"
            android:label="Forget Password"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorsLogin" />
        </activity>

        <activity
            android:name=".DoctersData"
            android:label="@string/title_activity_docters_data"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".DoctorsLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorsLogin" />
        </activity>

        <activity android:name=".DoctersAccount"
            android:label="Docters Create Account"
            android:parentActivityName=".DoctorsLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorsLogin" />
        </activity>

        <activity android:name=".Pharmacydata"
            android:label="Pharmacy Data"
            android:parentActivityName=".PharmacyLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PharmacyLogin" />

        </activity>

    </application>

</manifest>